body {
/*     width: 800px; */
    width: 80%;
    height: 100%;
    margin: 40px auto;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 14px;
    color: #444;
    background: rgba(153,153,153,0.08);
}

table {
/*     width: 100%;     */	
	float: left;
	width: 100%;
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    background: white;
}

a {
	text-decoration: none;
}

#tip {
	font-size:14px; 
	width:100%; 
	margin-top:5em;
	text-indent: 2em;
	
	border:1px solid #CE7F8F;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;	
	height: 28px;
	line-height: 28px;
	
	background: #FADEEF;
}

.bordered {
	margin: 3em auto 3em;
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;    
}

.bordered tr{
	transition:All 0.1s ease-in-out;
	-webkit-transition:All 0.1s ease-in-out;
	-moz-transition:All 0.1s ease-in-out;
	-o-transition:All 0.1s ease-in-out;
}

.bordered tr:hover{
	cursor: pointer;
    background: rgba(204,204,51,0.25);
}    

.bordered th:first-child,
.bordered td:first-child {
	width: 80px;
}

.bordered th:nth-child(3),
.bordered td:nth-child(3) {
	width: 100px;
}

.bordered tr:hover td:nth-child(3){
    background: rgba(204,204,51,0.25);
	color: #FF2900;
	font-weight: bold;
	font-size: 24px;
/*
	transform:rotate(-0.5deg);
	-webkit-transform:rotate(-0.5deg);
	-moz-transform:rotate(-0.5deg);
	-o-transform:rotate(-0.5deg);
	-ms-transform:rotate(-0.5deg);    	
*/
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered tr th:first-child {
    border-left: none;
}

.click_to_right td:first-child, .click_to_right th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.title {
	position: absolute;
	top:0;
	left: -100px;
	line-height:100px;			
	height: 100px;
	width: 300px;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	background: #CCCC33;
	color: white;			
	-moz-transform:rotate(-45deg);			
	-webkit-transform:rotate(-45deg);
	-moz-box-shadow: 0 0 1em gray;			
	-webkit-box-shadow: 0 0 1em gray;
}

.title a{
	color: #FFF;
	font-size: 22px;
	font-weight: bold;
}

.bordered tr.clicked_to_right {
	-webkit-transform: translate(120px, 0); 
	-moz-transform: translate(120px, 0); 			
}

.bordered tr.clicked_to_left {
	-webkit-transform: translate(-120px, 0); 
	-moz-transform: translate(-120px, 0); 

}

#deal{
	margin-top: 0;
}

#dealcontainer{
	display: none;
	position:fixed;
	top:162px;
 	right:80px;
	width:400px;
	height:500px;
	z-index: 9999;	
}

button{
	margin: 0;
	border: 0;
	text-align: left;
}

.awesome, .awesome:visited {
	background: #222 url(../img/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px; padding: ; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }

